node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
*.log
.env
.phpunit.result.cache
.DS_Store
*.retry
!.gitkeep

# keep the built asset folders, but not the files
/public/css/*
/public/js/*
/public/images/*
/public/mix-manifest.json
