node_modules/
/public/hot
/public/storage
/public/css/*
/public/js/*
/public/images/*
/storage/*.key
/vendor
/docs
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
*.log
.env
.phpunit.result.cache
.DS_Store
*.retry
