//Utilities

@mixin line-gradient($top-color, $bottom-color){
  background: $top-color;
  background: -moz-linear-gradient(top,  $top-color 0%, $bottom-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(100%,$bottom-color));
  background: -webkit-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
  background: -o-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
  background: -ms-linear-gradient(top,  $top-color 0%,$bottom-color 100%);
  background: linear-gradient(to bottom,  $top-color 0%,$bottom-color 100%);
  background-size: 150% 150%;
}

@mixin transform-translate-x($value){
  -webkit-transform:  translate3d($value, 0, 0);
  -moz-transform: translate3d($value, 0, 0);
  -o-transform: translate3d($value, 0, 0);
  -ms-transform: translate3d($value, 0, 0);
  transform: translate3d($value, 0, 0);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}