.TreeContainer {
  max-height: calc(100vh - 113px);
  overflow-y: auto;

  .Tree {
    .Branch {
      .Leaf {
        margin-left: 50px;
        width: calc(100% - 50px);
      }

      .input-group {
        > .form-control {
          &.active {
            background-color: #454a4d;
            color: #ffffff;
          }
        }

        > .input-group-prepend > .btn {
          width: 25px;
          text-align: center;
          padding: 0;
        }
      }

      hr {
        margin-top: 0.85rem;
      }
    }
  }
}
