html {
    background: url('../images/test-image-01.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dialog {
    color: whitesmoke;
    background-color: #1b4b72;
    padding: 1em;
    text-align: center;
    font-family: "Arial Black", sans-serif;
    margin: auto;
}